[user]
	name = Dean Gray
	email = mrdeangray@gmail.com
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
	default = matching
